.mention-section {
	padding: 8% 15%;
}

.mention-section header h1 {
	font-size: 3em;
	font-weight: bold;
}

.mention-section header h2 {
	font-size: 1em;
}

@media (max-device-width: 1224px) {
	.mention-section header h1 {
		font-size: 2em;
		font-weight: bold;
	}
}